#include <winver.h>
/* PiPL is generated separately by gen_win_pipl.py. */
16000 "PiPL" DISCARDABLE "EdgeViz.pipl"

1 VERSIONINFO
 FILEVERSION 0,1,1,1
 PRODUCTVERSION 0,1,1,1
 FILEFLAGSMASK 0x3fL
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_DLL
 FILESUBTYPE 0x0L
BEGIN
 BLOCK "StringFileInfo"
 BEGIN
  BLOCK "040904B0"
  BEGIN
   VALUE "CompanyName", "EdgeViz"
   VALUE "FileDescription", "EdgeViz After Effects Plug-in"
   VALUE "FileVersion", "0.1.1"
   VALUE "InternalName", "EdgeViz"
   VALUE "OriginalFilename", "EdgeViz.aex"
   VALUE "ProductName", "EdgeViz"
   VALUE "ProductVersion", "0.1.1"
  END
 END
 BLOCK "VarFileInfo"
 BEGIN
  VALUE "Translation", 0x0409, 1200
 END
END
